extends ../../../layouts/adminLayout
block admin-content
    +page-title('Brands List','Add New Brand')

    //- Start Main Content  
    +dataTable(['Name','Link','Action']) 

block scripts
    script.
        getTableData('brands')