extends ../../../layouts/adminLayout
block admin-content
    +page-title('Products List','Add New Product')

    //- Start Main Content  
    +dataTable(['Name','Category','brand' ,'Price','Rating','Action']) 

block scripts
    script.
        getTableData('products')


