-
    //- generate object contain 30 brand name
    const brands = [{
        id : 1,
        name : 'Apple',
        link : 'https://www.apple.com/'
    },{ 
        id : 2,
        name : 'Samsung',
        link : 'https://www.samsung.com/us/'
    },{ 
        id : 3,
        name : 'Huawei',
        link : 'https://consumer.huawei.com/en/'
    },{ 
        id : 4,
        name : 'Xiaomi',
        link : 'https://www.mi.com/us/'
    },{ 
        id : 5,
        name : 'LG',
        link : 'https://www.lg.com/us'
    },{ 
        id : 6,
        name : 'Sony',
        link : 'https://www.sony.com/'
    },{ 
        id : 7,
        name : 'Motorola',
        link : 'https://www.motorola.com/us'
    },{ 
        id : 8,
        name : 'OnePlus',
        link : 'https://www.oneplus.com/'
    },{ 
        id : 9,
        name : 'Nokia',
        link : 'https://www.nokia.com/'
    },{ 
        id : 10,
        name : 'HTC',
        link : 'https://www.htc.com/us/'
    },{ 
        id : 11,
        name : 'Asus',
        link : 'https://www.asus.com/us/'
    },{ 
        id : 12,
        name : 'BlackBerry',
        link : 'https://www.blackberry.com/us/en'
    },{ 
        id : 13,
        name : 'Google',
        link : 'https://store.google.com/us/'
    },{ 
        id : 14,
        name : 'ZTE',
        link : 'https://www.zteusa.com/'
    },{ 
        id : 15,
        name : 'Alcatel',
        link : 'https://www.alcatelonetouch.com/us'
    },{ 
        id : 16,
        name : 'Lenovo',
        link : 'https://www.lenovo.com/us/en/'
    },{ 
        id : 17,
        name : 'Honor',
        link : 'https://www.hihonor.com/us/'
    },{ 
        id : 18,
        name : 'Realme',
        link : 'https://www.realme.com/us/'
    },{ 
        id : 19,
        name : 'Vivo',
        link : 'https://www.vivo.com/us/'
    },{ 
        id : 20,
        name : 'Oppo',
        link : 'https://www.oppo.com/en/'
    },{ 
        id : 21,
        name : 'Meizu',
        link : 'https://www.meizu.com/'
    }
    ]
