-
    const userRoles = [
        {
            name: 'Admin',
            slug: 'admin',
            description : 'Admin can do everything'
        },
        {
            name: 'Editor',
            slug: 'editor',
            description: 'Editor can edit and publish posts'
        },
        {
            name: 'Author',
            slug: 'author',
            description: 'Author can write posts'
        },
        {
            name: 'Contributor',
            slug: 'contributor',
            description: 'Contributor can write posts'
        },
        {
            name: 'Subscriber',
            slug: 'subscriber',
            description: 'Subscriber can read posts'
        }
    ]