- var pageTitle = 'Store' 
- var root = false;
- var path = !root ? './..' : './../..';

-
    var port = 8080,
    baseUrl = `http://localhost:${port}`,
    adminPath = `${baseUrl}/admin`,
    authPath = `${baseUrl}/auth`;