nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    .d-flex.w-100.align-items-center
      a.navbar-brand(href='#') 
        .logo
          img(src='./images/logo-mdb.webp' width='100')
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
        ul.navbar-nav
          li.nav-item
            a.nav-link.active(aria-current='page' href='#') Home
          li.nav-item
            a.nav-link(href='#') About
          li.nav-item
            a.nav-link(href='contact.html') Contact