.modal.modal-lg.fade(id="mainModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .modal-title(id="ModalLabel") Modal title
                button( type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close")
            .modal-body
            .modal-footer
                button( type="button" class="btn btn-secondary" data-mdb-dismiss="modal") Close 
                button( type="button" class="btn btn-primary btn-save") Save changes