extends ../../../layouts/adminLayout
block admin-content
    //- Start Main Content  
    section
        .container
            .panel.panel-default
                .panel-body
                    h2 hellow world
                    
