extends ../../../layouts/adminLayout

block admin-content
    +page-title('Posts List','Add New Post')
    //- Start Main Content   
    +dataTable(['Title', 'Content','Tags','Categories','Action']) 

block scripts
    script.
        getTableData('posts')