extends ../../../layouts/adminLayout

block admin-content
    +page-title('Posts List','Add New Post')
    //- Start Main Content   
    +dataTable(['Title', 'content', 'tags','comments', 'Action']) 

block scripts 
    script.
        getTableData('posts')
