extends ../../../layouts/adminLayout
block admin-content
    +page-title('Users','Add New User')
    //- Start Main Content   
    +dataTable(['Full Name', 'email', 'phone','birthDate', 'address', 'Action']) 

block scripts 
    script.
        getTableData('users')
