extends ../../../layouts/adminLayout
block admin-content
    +page-title('Roles','Add New Role')
    //- Start Main Content   
    +dataTable(['Role Name', 'Role Slug', 'Role Description', 'Action']) 

block scripts 
    script.
        getTableData('roles')
