//- Start Includes Vars    
include ../variables/variables
include ../mixins/mixins

doctype html
html(lang="en")
	head
		block vars
			- var path = './../..'
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title Material Design for Bootstrap
		// Font Awesome
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
		// Google Fonts Roboto
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap")
		// MDB
		link(rel="stylesheet" href=`https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css`)
		// Datatable
		link(rel="stylesheet" href=`https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.css`)
		link(rel="stylesheet" href=`https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap5.css`)
		// Quill Editor
		link(href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet")

		//https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css
		// jQuery Toast Style
		link(rel="stylesheet" href=`https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css`)
		// Main styles
		link(rel="stylesheet" href=`${path}/assets/css/style.css`)

	body

		header
			include ../components/adminComponents/sidebar
			include ../components/adminComponents/header

		main(class="admin-content" style="margin-top: 58px")
			.container.py-4
				section
					.container
						.panel.panel-default
							.panel-body
								block admin-content
							+loader
		include ../components/adminComponents/modal
		//- jQuery
		script(src='https://code.jquery.com/jquery-3.6.0.js')

		//- Moment JS
		script(type="text/javascript" src=`https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js`)

		//- Ionic Icons
		script(type="text/javascript" src=`https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js`)
		script(type="text/javascript" src=`https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js`)


		//- jQuery Toast
		script(type="text/javascript" src=`https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js`)

		//- MDB
		script(type="text/javascript" src=`https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js`)
		//- My Custom Scripts
		script(type="text/javascript" src=`${path}/assets/js/main-min.js`)

		block scripts

		//- Datatable
		script(type="text/javascript" src=`https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js`)
		script(type="text/javascript" src=`https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.js`)
		script(type="text/javascript" src=`https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap5.js`)

		//- Sweet Alert
		script(type="text/javascript" src=`https://cdn.jsdelivr.net/npm/sweetalert2@11`)

